<h1>メール送信します</h1>

<%= form_with(url: send_path, scope: :mail, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :to %>
    <%= f.email_field :to, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, class: "form-control" %>
  </div>

  <%= f.submit "送信", class: "btn btn-primary" %>
<% end %>
